MYSQL_ROOT_PASSWORD=
MYSQL_HOST=
MYSQL_PORT=
MYSQL_DATABASE=
MYSQL_USERNAME=
MYSQL_PASSWORD=
MYSQL_SYNCHRONIZE=true
MYSQL_MIGRATIONS_RUN=true

IS_TS_NODE=true

API_KEY=
OMDB_URL=http://www.omdbapi.com

JWT_SECRET_KEY=
JWT_EXPIRES_IN=1d